<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Edit User</title>
</head>
<body>
<h1>Edit User</h1>
<form th:action="@{/admin/editUser}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <label>Username:</label>
    <input type="text" th:field="*{username}"/><br/>
    <label>Password:</label>
    <input type="password" th:field="*{password}"/><br/>
    <label>Roles:</label>
    <select th:field="*{roles}" multiple="multiple">
        <option th:each="role : ${roles}" th:value="${role.name}" th:text="${role.name}"></option>
    </select><br/>
    <input type="submit" value="Update"/>
</form>
</body>
</html>
